<p>register works!</p><br>
first_name name:  <br> 
<input type="text" name="tutor" id="tutor" [(ngModel)]="user.first_name"><br>
last_name:<br>
<input type="text" name="name" id="name" [(ngModel)]="user.last_name"><br>
dob:<br>
<input type="text" name="duration" id="duration" [(ngModel)]="user.dob"><br>
skills:<br>
<input type="text" name="level1" id="level1" [(ngModel)]="user.skills"><br>
gender:<br>
<input type="text" name="level1" id="level1" [(ngModel)]="user.gender"><br>
qualification:<br>
<input type="text" name="level2" id="level2" [(ngModel)]="user.qualification"><br>
work_address:<br>
<input type="text" name="level3" id="level3" [(ngModel)]="user.work_address"><br>
permenant_address :<br>
<input type="text" name="level1" id="level1" [(ngModel)]="user.permanent_address"><br>
temporary_address:<br>
<input type="text" name="level1" id="level1" [(ngModel)]="user.temporary_address"><br>
<button (click)="registerfac()">register</button>
